
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.body {
    max-width: 800px;
    min-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.all{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.label {
    margin-bottom: 20px;
}


/* Style buttons */
button {
    display:block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
/* .todoItems{
    margin: 10px;
    border:1px solid black;
    width: 350px; 
    border-spacing: 10px;
    text-align: center;
     padding: 10px; 
     border-bottom: 15px solid transparent;
      background-color: darkorchid blue; 
      color: rgb(54, 52, 52);
       background-clip: padding-box;
} */



#myTable {
  border-collapse: collapse;
  margin-top: 20px;
}

#myTable th, #myTable td {
  border: 1px solid #dddddd;
  padding: 8px;

}

#myTable th {
  background-color: #f2f2f2;
}

#myTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

 #complete:hover {
  background-color: #e6e6e6;
} 

.hide{
  display: none;
}

.tab{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}


.tab-button{
  margin-right: 15px;
}